---
---
<!DOCTYPE html>
<html>
    <head>
    {% include head.html %}
    </head>
    <body>
        <div id="container">
            <header>
                CABECERA (HEADER)<br>
                {% include header.html %}
            </header>
            <nav>
                MENU DE NAVEGACION (NAV)<br>
                {% include navigation.html %}
            </nav>
            <div class="clearfix">

            </div>
            <aside>
                BARRA LATERAL (ASIDE)
                {% include navigation.html %}
            </aside>      
            <section id="content">
                SECCION (SECTION)
                {{content}}
            </section>
            <div class="clearfix">
            
            </div>
            <!--pie de páginas: contiene copyright, contectos, información del sitio, información del autor, como navegar por el sitio -->
            <footer>
                PIE DE PAGINA (FOOTER)<br>
                {% include footer.html %} 
            </footer>
               
        </div>   
    </body>
</html>